<footer th:fragment="footer()" class="bg-dark text-light py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-inline text-md-right">
                    <img style="height: 150px" th:src="@{/images/logo.png}" alt="" class="img-fluid">
                </ul>
                <p>&copy; 2023 - Nguyen Tran Quang Huy - [52000668]</p>
                <a href="https://github.com/nguyenhuy158">@Github:nguyenhuy158</a>
            </div>
            <div class="col-md-6">
                <iframe class="w-100 h-100 rounded"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.0235246992333!2d106.69757554922484!3d10.732668892313697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b2747a81a3%3A0x33c1813055acb613!2sTon%20Duc%20Thang%20University!5e0!3m2!1sen!2s!4v1680927611773!5m2!1sen!2s"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</footer>