<nav th:fragment="navbar()" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

        <a class="navbar-brand" th:href="@{/}">Spring Commerce</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">

                <li th:if="${!isLogin}" class="nav-item">
                    <a th:classappend="${isSignIn} ? 'active' : ''" class="nav-link" th:href="@{/login}">
                        Sign In
                    </a>
                </li>

                <li th:if="${!isLogin}" class="nav-item">
                    <a th:classappend="${isSignUp} ? 'active' : ''" class="nav-link" th:href="@{/register}">
                        Sign Up
                    </a>
                </li>

                <li th:if="${isLogin}" class="nav-item">
                    <a th:classappend="${isProduct} ? 'active' : ''" class="nav-link" th:href="@{/products}">
                        Products
                    </a>
                </li>

                <li th:if="${isLogin}" class="nav-item">
                    <a class="nav-link" th:href="@{/users}">
                        Users
                    </a>
                </li>

                <li th:if="${isLogin}" class="nav-item">
                    <a class="nav-link" th:href="@{/cart}">
                        Carts
                    </a>
                </li>

                <li th:if="${isLogin}" class="nav-item">
                    <a class="nav-link" th:href="@{/history}">
                        History
                    </a>
                </li>

                <li th:if="${isLogin}" class="nav-item">
                    <a class="nav-link" th:href="@{/about}">
                        About
                    </a>
                </li>

                <li th:if="${isLogin}" class="d-flex">
                    <!-- logout feature -->
                    <a class="nav-link" href="javascript:document.getElementById('logout').submit()">
                        Logout
                    </a>
                    <form id="logout" th:action="@{/logout}" method="post">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                    </form>
                </li>


            </ul>

        </div>
    </div>
</nav>