<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/header.html :: header(${pageTitle})">
</head>

<header>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/cart.css">
</header>

<body>
    <!-- nav bar -->
    <div class="container">
        <nav th:replace="fragments/navbar.html :: navbar()">
        </nav>
    </div>

    <!-- newest ui -->
    <div class="container">

        <div class="container">
            <!-- Title -->
            <div class="d-flex justify-content-between align-items-center py-3">
                <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order #[[${cartId}]]</h2>
            </div>

            <!-- Main content -->
            <div class="row">
                <!-- Product list -->
                <div class="col-lg-8">
                    <!-- Details -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-3 d-flex justify-content-between">

                                <div>
                                    <span class="me-3">[[${cartDate}]]</span>
                                    <span class="badge rounded-pill bg-info">
                                        <i class="fa-solid fa-wallet"></i>
                                        Payment by Cash
                                    </span>
                                </div>

                                <div class="d-flex">
                                    <button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text">
                                        <i class="fa-solid fa-print"></i>
                                        <span class="text" onclick="window.print()">Print</span>
                                    </button>

                                    <div class="dropdown">
                                        <button class="btn btn-link p-0 text-muted" type="button"
                                            data-bs-toggle="dropdown">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Edit</a>
                                            </li>
                                            <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i>
                                                    Print</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                            <!-- table products -->
                            <table class="table table-borderless">
                                <tbody>
                                    <tr th:each="cart : ${carts}">
                                        <td class="align-middle">
                                            <i class="fa-solid fa-circle-xmark"></i>
                                        </td>
                                        <td class="align-middle">
                                            <div class="d-flex mb-2">
                                                <div class="flex-shrink-0">
                                                    <img th:src="${cart.image != null ? cart.image : 'https://placehold.co/35x35/png'}"
                                                        alt="" width="35" class="img-fluid">
                                                </div>
                                                <div class="flex-lg-grow-1 ms-3">
                                                    <h6 class="small mb-0"><a href="#" class="text-reset">
                                                            [[${cart.productName}]]
                                                        </a>
                                                    </h6>
                                                    <span class="small">Color: [[${cart.color}]]</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle">Quantity: [[${cart.quantity}]]</td>
                                        <td class="align-middle text-end">[[${cart.quantity * cart.productPrice}]] VND
                                        </td>
                                    </tr>
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <td colspan="3">Subtotal</td>
                                        <td class="text-end">[[${subTotalPrice}]] VND</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Shipping</td>
                                        <td class="text-end">20,000 VND</td>
                                    </tr>
                                    <tr class="fw-bold">
                                        <td colspan="3">TOTAL</td>
                                        <td class="text-end">[[${totalPrice}]] VND</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <!-- Check out -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-10"> </div>
                                <div class="col-lg-1">
                                    <form th:action="@{/checkout}" method="post">
                                        <button class="btn btn-primary" type="submit">Checkout</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4">
                    <!-- Shop Notes -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="h6">Shop Notes</h3>
                            <p>
                                At the moment, the shop only supports payment via COD. In the future, customers will be
                                able to make payments via online banking. We apologize for any inconvenience this may
                                cause.
                            </p>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <!-- Shipping information -->
                        <div class="card-body">
                            <h3 class="h6">Shipping Information</h3>
                            <span>
                                <i class="fa-solid fa-location-dot"></i>
                            </span>
                            <strong>COD</strong>

                            <hr>

                            <h3 class="h6">Address</h3>
                            <address>
                                <strong>
                                    <i class="fa-solid fa-user-tie"></i>
                                    [[${currentUser.lastName + ' ' + currentUser.firstName}]]
                                </strong>
                                <br>
                                <i class="fa-solid fa-map-location-dot"></i>
                                [[${currentUser.address}]]
                                <br>
                                <i class="fa-solid fa-phone"></i>
                                <abbr title="Phone">Phone:</abbr> [[${currentUser.phone}]]
                            </address>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container my-4">
        <footer th:replace="fragments/footer.html :: footer()">
        </footer>
    </div>
</body>

</html>