<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/header.html :: header(${pageTitle})">
</head>

<body>
    <!-- nav bar -->
    <div class="container">
        <nav th:replace="fragments/navbar.html :: navbar()">
        </nav>
    </div>

    <div class="container">
        <h1> </h1>
        <div class="alert alert-dismissible alert-warning">
            <h4 class="alert-heading">Oh! 500</h4>
            <p class="mb-0">Sorry, we couldn't find the page you were looking for.</p>
        </div>

        <footer th:replace="fragments/footer.html :: footer()">
        </footer>
    </div>
</body>

</html>