<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/header.html :: header(${pageTitle})">
</head>

<header>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/history.css">
</header>

<body>
    <!-- nav bar -->
    <div class="container">
        <nav th:replace="fragments/navbar.html :: navbar()">
        </nav>
    </div>

    <div class="container">
        <div class="container py-5 ">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Total INVOICE:
                    <span class="badge bg-primary rounded-pill">[[${orders?.size()}]]</span>
                </li>
            </ul>

            <div th:each="order : ${orders}" class="row d-flex justify-content-center align-items-center my-3">
                <div class="col-12">
                    <div class="card card-stepper text-black" style="border-radius: 16px;">
                        <div class="card-body p-5">
                            <div class="d-flex justify-content-between align-items-center mb-5">
                                <div>
                                    <h5 class="mb-0">INVOICE
                                        <span class="text-primary font-weight-bold">
                                            #[[${order?.orderId}]]
                                        </span>
                                    </h5>
                                </div>
                                <div class="text-end">
                                    <p class="mb-0">Order Date:
                                        <span>
                                            [[${order?.orderDate}]]
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li th:each="product, idx :${order?.products}" class="list-group-item">
                                <div class="row">
                                    <div class="col-4">[[${product.name}]]</div>
                                    <div class="col-5">Quantity: [[${order?.orderDetails.get(idx.index).quanity}]]</div>
                                    <div class="col-3">Price: [[${product.price}]] VND</div>
                                </div>
                            </li>
                        </ul>

                        <div class="card-footer text-muted">
                            <div class="row">
                                <div class="col-9">
                                    <i class="fa-solid fa-truck-fast"></i>
                                    Your order is currently in transit and scheduled for prompt delivery.
                                </div>
                                <div class="col-3">Total price: [[${order?.total}]] VND</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container my-4">
        <footer th:replace="fragments/footer.html :: footer()">
        </footer>
    </div>
</body>

</html>