<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/header.html :: header(${pageTitle})">
</head>

<body>
    <!-- nav bar -->
    <div class="container">
        <nav th:replace="fragments/navbar.html :: navbar()">
        </nav>
    </div>

    <!-- param -->
    <div th:if="${param.error}" class="alert alert-danger">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}" class="alert alert-success">
        You have been logged out.
    </div>
    <!-- param -->

    <div class="container">
        <form class="form-signin" method="POST" th:action="@{/login}">
            <p>
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required
                    autofocus>
            </p>
            <p>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                    required>
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
    </div>

    <!-- new -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bs-component">
                    <form>
                        <fieldset>
                            <legend>Sign in</legend>

                            <div class="form-group">
                                <label for="exampleInputEmail1" class="form-label mt-4">Username</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter email">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password">
                            </div>

                            <br class="mt-4">

                            <button type="submit" class="btn btn-primary">Login</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>