<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/header.html :: header(${pageTitle})">
</head>

<body>
    <!-- nav bar -->
    <div class="container">
        <nav th:replace="fragments/navbar.html :: navbar()">
        </nav>
    </div>

    <div class="container">
    </div>

    <!-- new -->
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="bs-component">
                        <form method="post" th:action="@{/login}">
                            <fieldset>
                                <legend>Sign in</legend>

                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="form-label mt-4">Username</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                        placeholder="Username" required autofocus>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Password" required>
                                </div>

                                <br class="mt-4">

                                <button type="submit" class="btn btn-primary">Sign In</button>

                                <!-- param -->
                                <div th:if="${param.error}" class="mt-4 alert alert-danger">
                                    Invalid username and password.
                                </div>
                                <div th:if="${param.logout}" class="mt-4 alert alert-success">
                                    You have been logged out.
                                </div>
                                <!-- param -->
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>