<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: header(${pageTitle})">
</head>

<header>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/products.css">
</header>

<body>
  <!-- nav bar -->
  <div class="container">
    <nav th:replace="fragments/navbar.html :: navbar()">
    </nav>
  </div>

  <div class="container">
    <div class="container">

      <form th:action="@{/products}" class="d-flex my-4">
        <input name="keyword" class="form-control me-sm-2" type="search" placeholder="Search" th:value="${keyword}"
          required>
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        <button class="btn btn-secondary m-2 my-sm-0" type="button" onclick="clearSearch()">Clear</button>
      </form>

    </div>
  </div>

  <div class="container">
    <div th:if="${!isAdmin}" class="row justify-content-center text-center my-2">
      <div class="col-md-8 col-lg-6">
        <div class="header">
          <h2>Popular Products</h2>
        </div>
      </div>
    </div>

    <div th:if="${isAdmin}" class="row justify-content-center text-center my-2">
      <div class="col-md-8 col-lg-6">
        <div class="header">
          <h2>Manage Products</h2>
        </div>
        <div class="m-2">
          <a class="btn btn-lg btn-primary" th:href="@{/products/new}">Add New Product</a>
        </div>
      </div>
    </div>
  </div>



  <!-- row filter -->
  <div class="container mb-4">
    <div class="row gap-2">
      <div class="col btn btn-lg btn-primary">
        <th th:replace="fragments/sorting :: sorting('category','Category')"> </th>
      </div>
      <div class="col btn btn-lg btn-primary">
        <th th:replace="fragments/sorting :: sorting('name','Name')"> </th>
      </div>
      <div class="col btn btn-lg btn-primary">
        <th th:replace="fragments/sorting :: sorting('price','Price')"> </th>
      </div>
      <div class="col btn btn-lg btn-primary">
        <th th:replace="fragments/sorting :: sorting('brand','Brand')"> </th>
      </div>
      <div class="col btn btn-lg btn-primary">
        <th th:replace="fragments/sorting :: sorting('color','Color')"> </th>
      </div>
    </div>
  </div>

  <!-- Table for admin -->
  <div th:if="${isAdmin}" class="container">
    <!-- table result -->
    <div class="container-fluid text-center">

      <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
      </div>

      <div>
        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th class="col" th:replace="fragments/sorting :: sorting('id','Id')"> </th>
              <th class="col" th:replace="fragments/sorting :: sorting('image','Image')"> </th>
              <th class="col" th:replace="fragments/sorting :: sorting('category','Category')"> </th>
              <th class="col" th:replace="fragments/sorting :: sorting('name','Name')"> </th>
              <th class="col" th:replace="fragments/sorting :: sorting('price','Price')"> </th>
              <th class="col" th:replace="fragments/sorting :: sorting('brand','Brand')"> </th>
              <th class="col" th:replace="fragments/sorting :: sorting('color','Color')"> </th>
              <th class="col">Handler</th>
            </tr>
          </thead>
          <tbody>
            <th:block th:each="product, idx : ${paginatedProductResponse.products}">
              <tr th:classappend="${idx.index % 2 == 0} ? 'table-active' : 'table-light'">
                <td class="align-middle vertical-center">
                  <a th:href="@{/products/} + ${product.id}">
                    [[${product.id}]]
                  </a>
                </td>
                <td>
                  <img style="object-fit: cover;" width="100" height="100"
                    th:src="${product.image != null ? product.image : 'https://placehold.co/100x100/png'}" alt="">
                </td>
                <td class="align-middle vertical-center text-truncate">[[${product.category}]]</td>
                <td class="align-middle vertical-center text-truncate">[[${product.name}]]</td>
                <td class="align-middle vertical-center text-truncate">[[${product.price}]]</td>
                <td class="align-middle vertical-center text-truncate">[[${product.brand}]]</td>
                <td class="align-middle vertical-center text-truncate">[[${product.color}]]</td>
                <td class="align-middle">
                  <a class="h4 p-1" th:href="@{'/products/edit/' + ${product.id}}">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>

                  <a class="h4 p-1" th:href="@{'/products/delete/' + ${product.id}}">
                    <i class="fa-solid fa-trash"></i>
                  </a>

                  <a class="h4 p-1" th:href="@{'/products/' + ${product.id}}">
                    <i class="fa-solid fa-eye"></i>
                  </a>
                </td>
              </tr>
            </th:block>

          </tbody>
        </table>



      </div>
    </div>
  </div>

  <!-- Table for user -->
  <section th:if="${!isAdmin}" class="section-products">
    <div class="container">
      <!-- row display -->
      <div class="row">
        <th:block th:each="product : ${paginatedProductResponse.products}">
          <!-- Single Product -->
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-4" class="single-product">
              <div class="part-1"
                th:style="${'background: url(' + product.image + ') no-repeat center; object-fit: cover;'}">
                <span class="new">
                  <i class="fa-solid fa-tags"></i>
                  [[${product.category}]]
                </span>
                <ul>
                  <li>
                    <a th:href="@{/products/} + ${product.id}">
                      <i class="fas fa-expand"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">
                  <i class="fa-solid fa-layer-group"></i>
                  [[${product.name}]]
                </h3>
                <h4 class="product-price">
                  <i class="fa-solid fa-wallet"></i>
                  [[${product.price}]] VND
                </h4>
              </div>
            </div>
          </div>
        </th:block>
      </div>
    </div>
  </section>


  <div class="container">
    <!-- current/total -->
    <div class="row">
      <div class="col">
        <div class="text-info text-center">
          Showing
          <b th:text="${currentNumberProduct}"></b>
          out of
          <b th:text="${paginatedProductResponse.getNumberOfItems()}"></b>
          products.
        </div>
      </div>
    </div>
    <!-- paging -->
    <div class="row">
      <div class="col">
        <ul class="pagination justify-content-center">
          <li class="page-item" th:classappend="${currentPage==0} ? disabled">
            <a class="page-link" th:href="@{/products(keyword=${keyword}, currentPage=${currentPage-1})}">&laquo;</a>
          </li>

          <li th:each="pageNumber : ${pageNumbers}" class="page-item"
            th:classappend="${pageNumber==currentPage + 1} ? active">
            <a class="page-link" th:href="@{/products(keyword=${keyword}, currentPage=${pageNumber - 1})}"
              th:text="${pageNumber}"></a>
          </li>

          <li class="page-item"
            th:classappend="${currentPage==paginatedProductResponse.getNumberOfPages() - 1} ? disabled">
            <a class="page-link" th:href="@{/products(keyword=${keyword}, currentPage=${currentPage+1})}">&raquo;</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- footer -->
    <footer th:replace="fragments/footer.html :: footer()">
    </footer>
  </div>

  <!-- script -->
  <script type="text/javascript">
    function clearSearch() {
      window.location = "[[@{/products}]]";
    }
  </script>

</body>

</html>