<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: header(${pageTitle})">
</head>

<body>
  <!-- nav bar -->
  <div class="container">
    <nav th:replace="fragments/navbar.html :: navbar()">
    </nav>
  </div>

  <div class="container">
    <div class="container">

      <form th:action="@{/products}" class="d-flex my-4">
        <input name="keyword" class="form-control me-sm-2" type="search" placeholder="Search" th:value="${keyword}"
          required>
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        <button class="btn btn-secondary m-2 my-sm-0" type="button" onclick="clearSearch()">Clear</button>
      </form>

    </div>
  </div>

  <div class="container">
    <!-- table result -->
    <div class="container-fluid text-center">
      <div>
        <h2>Manage Products</h2>
      </div>
      <div class="m-2">
        <a class="h3" th:href="@{/products/new}">Add New Product</a>
      </div>

      <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
      </div>

      <div>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th th:replace="fragments/sorting :: sorting('id','id')">ID</th>
              <th th:replace="fragments/sorting :: sorting('category','category')">category</th>
              <th th:replace="fragments/sorting :: sorting('name','name')">name</th>
              <th th:replace="fragments/sorting :: sorting('price','price')">price</th>
              <th th:replace="fragments/sorting :: sorting('brand','brand')">brand</th>
              <th th:replace="fragments/sorting :: sorting('color','color')">color</th>
              <th>Enabled</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <th:block th:each="product : ${paginatedProductResponse.products}">
              <tr>
                <td>
                  <a th:href="@{/products/} + ${product.id}">

                    [[${product.id}]]

                  </a>
                </td>
                <td>[[${product.category}]]</td>
                <td>[[${product.name}]]</td>
                <td>[[${product.price}]]</td>
                <td>[[${product.brand}]]</td>
                <td>[[${product.color}]]</td>
                <td>
                  <a class="h4 mr-3" th:href="@{'/products/edit/' + ${product.id}}">Edit</a>
                  <br>
                  <a class="h4" th:href="@{'/products/delete/' + ${product.id}}">Delete</a>
                  <br>
                  <a class="h4" th:href="@{'/products/' + ${product.id}}">View</a>
                </td>
              </tr>
            </th:block>

          </tbody>
        </table>

        <!-- paging new -->
        <div class="row">
          <div class="col">
            <div class="text-info">
              Showing
              <b th:text="${currentNumberProduct}"></b>
              out of
              <b th:text="${paginatedProductResponse.getNumberOfItems()}"></b>
              entries
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <ul class="pagination">
              <li class="page-item" th:classappend="${currentPage==0} ? disabled">
                <a class="page-link"
                  th:href="@{/products(keyword=${keyword}, currentPage=${currentPage-1})}">&laquo;</a>
              </li>

              <li th:each="pageNumber : ${pageNumbers}" class="page-item"
                th:classappend="${pageNumber==currentPage + 1} ? active">
                <a class="page-link" th:href="@{/products(keyword=${keyword}, currentPage=${pageNumber - 1})}"
                  th:text="${pageNumber}"></a>
              </li>

              <li class="page-item"
                th:classappend="${currentPage==paginatedProductResponse.getNumberOfPages() - 1} ? disabled">
                <a class="page-link"
                  th:href="@{/products(keyword=${keyword}, currentPage=${currentPage+1})}">&raquo;</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>



  <!-- script -->
  <script type="text/javascript">
    function clearSearch() {
      window.location = "[[@{/products}]]";
    }
  </script>

</body>

</html>