<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Manage Products</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/style.css}">
</head>


<body>
  <div class="container">
    <div class="row" id="search">
      <form id="search-form" th:action="@{/products}">
        <div class="form-group col-xs-9">
          <input name="keyword" class="form-control" type="text" placeholder="Search" th:value="${keyword}" required />
        </div>
        <div class="form-group col-xs-3">
          <button type="submit" class="btn btn-block btn-primary">Search</button>
        </div>
        <div class="form-group col-xs-3">
          <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
        </div>

      </form>
    </div>
    <div class="row" id="filter">
      <form>
        <div class="form-group col-sm-3 col-xs-6">
          <select data-filter="make" class="filter-make filter form-control">
            <option value="">Select Make</option>
            <option value="">Show All</option>
          </select>
        </div>
        <div class="form-group col-sm-3 col-xs-6">
          <select data-filter="model" class="filter-model filter form-control">
            <option value="">Select Model</option>
            <option value="">Show All</option>
          </select>
        </div>
        <div class="form-group col-sm-3 col-xs-6">
          <select data-filter="type" class="filter-type filter form-control">
            <option value="">Select Type</option>
            <option value="">Show All</option>
          </select>
        </div>
        <div class="form-group col-sm-3 col-xs-6">
          <select data-filter="price" class="filter-price filter form-control">
            <option value="">Select Price Range</option>
            <option value="">Show All</option>
          </select>
        </div>
      </form>
    </div>
    <div class="row" id="products">

    </div>
  </div>

  <!-- split -->
  <div class="container-fluid text-center">
    <div>
      <h2>Manage Products</h2>
    </div>
    <div class="m-2">
      <a class="h3" th:href="@{/products/new}">Add New Product</a>
    </div>

    <div th:if="${message}" class="alert alert-success text-center">
      [[${message}]]
    </div>

    <div>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>category</th>
            <th>name</th>
            <th>price</th>
            <th>brand</th>
            <th>color</th>
            <th>Enabled</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <th:block th:each="product : ${listProducts}">
            <tr>
              <td>[[${product.id}]]</td>
              <td>[[${product.category}]]</td>
              <td>[[${product.name}]]</td>
              <td>[[${product.price}]]</td>
              <td>[[${product.brand}]]</td>
              <td>[[${product.color}]]</td>
              <td>
                <a class="h4 mr-3" th:href="@{'/products/edit/' + ${product.id}}">Edit</a>
                <a class="h4" th:href="@{'/products/delete/' + ${product.id}}">Delete</a>
              </td>
            </tr>
          </th:block>

        </tbody>
      </table>

      <!-- paging -->
      <div class="clearfix">
        <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
        <ul class="pagination">
          <li class="page-item disabled"><a href="#">Previous</a></li>
          <li class="page-item active"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item"><a href="#" class="page-link">5</a></li>
          <li class="page-item"><a href="#" class="page-link">Next</a></li>
        </ul>
      </div>

    </div>
  </div>
  <script type="text/javascript">
    function clearSearch() {
      window.location = "[[@{/products}]]";
    }
  </script>

</body>

</html>