<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: header(${pageTitle})">
</head>

<body>
  <!-- nav bar -->
  <div class="container">
    <nav th:replace="fragments/navbar.html :: navbar()">
    </nav>
  </div>

  <div class="container my-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="bs-component">
            <div class="border border-secondary rounded p-3" th:object="${product}">
              <fieldset>
                <legend>[[${pageTitle}]]</legend>

                <div class="form-group">
                  <label for="exampleInputEmail1" class="form-label mt-4">Username</label>
                  <input type="text" class="form-control" th:field="*{name}" readonly>
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                  <input type="text" class="form-control" th:field="*{price}" readonly>
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                  <input type="text" class="form-control" th:field="*{category}" readonly>
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                  <input type="text" class="form-control" th:field="*{brand}" readonly>
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                  <input type="text" class="form-control" th:field="*{color}" readonly>
                </div>

                <div class="text-center">
                  <!-- add to cart -->
                  <form th:action="@{/cart/add}" th:object="${cartItem}" method="post">
                    <div class="form-group">

                      <input type="hidden" name="productId" th:value="${product.id}" />
                      <input type="hidden" name="productPrice" th:value="${product.price}" />
                      <label class="form-label mt-4" for="quantity">Quantity:</label>
                      <input class="form-control" type="number" id="quantity" name="quantity" min="1" value="1" />

                      <button type="submit" class="btn btn-primary my-2">Add to Cart</button>
                    </div>
                  </form>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>

</html>