<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: header(${pageTitle})">
</head>

<body>
    <!-- nav bar -->
    <div class="container">
        <nav th:replace="fragments/navbar.html :: navbar()">
        </nav>
    </div>

    <!-- new -->
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="bs-component">
                        <form th:object="${user}" th:action="@{/register}" method="post">
                            <fieldset>
                                <legend>Sign up</legend>

                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="form-label mt-4">First Name</label>
                                    <input th:field="*{firstName}" type="text" class="form-control"
                                        id="exampleInputEmail1" placeholder="Enter email" required>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="form-label mt-4">Last Name</label>
                                    <input th:field="*{lastName}" type="text" class="form-control"
                                        id="exampleInputEmail1" placeholder="Enter email" required>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="form-label mt-4">Username</label>
                                    <input th:field="*{userName}" type="text" class="form-control"
                                        id="exampleInputEmail1" placeholder="Enter email" required>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                                    <input th:field="*{password}" type="password" class="form-control"
                                        id="exampleInputPassword1" placeholder="Password" required>
                                </div>

                                <br class="mt-4">

                                <button type="submit" class="btn btn-primary">Sign Up</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>