<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/header.html :: header(${pageTitle})">
</head>

<body>
  <!-- nav bar -->
  <div class="container">
    <nav th:replace="fragments/navbar.html :: navbar()">
    </nav>
  </div>

  <div class="container">
    <div class="row">
      <div class="col my-2">
        <div class="text-center">
          <h2>[[${pageTitle}]]</h2>
        </div>
      </div>
    </div>

    <form th:action="@{/users/save}" method="post" th:object="${user}" style="max-width: 500px; margin: 0 auto;">

      <div class="border border-secondary rounded p-3">
        <!-- userName -->
        <div class="form-group row my-2">
          <label class="col-sm-4 col-form-label">User Name:</label>
          <div class="col-sm-8">
            <input type="text" th:field="*{userName}" class="form-control" required minlength="2" maxlength="45" />
          </div>
        </div>
        <!-- first Name -->
        <div class="form-group row my-2">
          <label class="col-sm-4 col-form-label">First Name:</label>
          <div class="col-sm-8">
            <input type="text" th:field="*{firstName}" class="form-control" required minlength="2" maxlength="45" />
          </div>
        </div>
        <!-- last Name -->
        <div class="form-group row my-2">
          <label class="col-sm-4 col-form-label">Last Name:</label>
          <div class="col-sm-8">
            <input type="text" th:field="*{lastName}" class="form-control" required minlength="2" maxlength="45" />
          </div>
        </div>
        <!-- address -->
        <div class="form-group row my-2">
          <label class="col-sm-4 col-form-label">Address:</label>
          <div class="col-sm-8">
            <input type="text" th:field="*{address}" class="form-control" required minlength="2" maxlength="45" />
          </div>
        </div>
        <!-- role -->
        <select id="myEnum" name="role" th:field="*{role}">
          <option value="ADMIN" th:selected="${user.role == T(com.example.springcommerce.emun.Role).ADMIN}">
            ADMIN
          </option>
          <option value="USER" th:selected="${user.role == T(com.example.springcommerce.emun.Role).USER}">
            USER
          </option>
        </select>
        <!-- phone -->
        <div class="form-group row my-2">
          <label class="col-sm-4 col-form-label">Phone:</label>
          <div class="col-sm-8">
            <input type="text" th:field="*{phone}" class="form-control" required minlength="2" maxlength="45" />
          </div>
        </div>
        <!-- password -->
        <div class="form-group row my-2">
          <label class="col-sm-4 col-form-label">Password:</label>
          <div class="col-sm-8">
            <input type="password" th:field="*{password}" class="form-control" required minlength="5" maxlength="15" />
          </div>
        </div>
        <!-- active -->
        <div class="form-group row my-2">
          <label class="col-sm-4 col-form-label">Active:</label>
          <div class="col-sm-8">
            <input type="checkbox" th:field="*{active}" />
          </div>
        </div>

        <!-- handler -->
        <div class="text-center">
          <button type="submit" class="btn btn-primary m-2">Save</button>
          <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
        </div>
      </div>

    </form>

  </div>


  <div class="container my-4">
    <footer th:replace="fragments/footer.html :: footer()">
    </footer>
  </div>

  <script type="text/javascript">
    function cancelForm() {
      window.location = "[[@{/users}]]";
    }
  </script>
</body>

</html>